# Added by Payload
PAYLOAD_SECRET=this_can_be_anything
DATABASE_URL=mongodb://localhost:27017

NEXT_PUBLIC_BASE_URL=http://localhost:3000
GOOGLE_MAPS_KEY=
OPENAI_API_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# SMTP
SMTP_USER=
SMTP_PASS=
SMTP_HOST=
INBOUND_EMAIL=
